@import 'master';

.location-hero{
    height: 90vh;
    width: 100vw;
    background-image: url(../img/images/location/bridge-over-tate.jpg);
    background-position: center;
    background-size: cover;
}


.location-welcome{
    background-image: url(../img/graphics/postHeroOverlay.png);
    background-position: center;
    height: auto;
    font-family: Poppins-Light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 0rem;


        h1{
            font-family: 'Tiempos';
            margin: 2rem;
            margin-bottom: 0rem;
            color: black;
        }
        p{
            margin: 3rem;
            width: 45%;
        }
}

@media(max-width: 750px){
    .location-welcome p{
            width: 80%;
            margin: 2rem;
            margin-bottom: 3rem;
        }
}
/*location carosel 1/2  */


.location-carosel{
    height: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    position: relative; 
    text-align: left !important;
}

.carosel-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    background-color: $navyBG;
    color: white;
    height: 100vh;
    width: 45%;
    float: left;
    font-family: Poppins-Light;
    position: relative;

        h2,
        p,
        ul{
            text-align: left;
            margin: 1rem 0rem;    
        }
        p{
            margin-right: 2rem;
        }
}

.swiper-container {
    margin: 0px !important;
    height: 100vh;
    padding-bottom: 0px;
    position: relative;

        img{
            width: auto;
            height: 100vh;
        }
}


.swiper-button-next, .swiper-button-prev{
    color: white !important;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.swiper-button-next1,
.swiper-button-next2{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0 !important;
    height: 20px !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 5% !important;
    top:92% !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 75% !important;
    top:92% !important;
}
.swiper-pagination.swiper-pagination-fraction{
    position: absolute;
    bottom: 6% !important;
    z-index: 99999;
    width: 35%;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1rem !important;
}

@media(max-width: 525px){
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 55% !important;
        top:92% !important;
    }
}
/*location carosel 2/2  */

@media(max-width: 1100px){
    .carosel-text ul{
        font-size: .65rem;
    }
    .carosel-text h2{
        font-size: 1rem;
    }
    .carosel-text ul li{
        margin: .2rem;
    }
}
@media(max-width: 550px){
    .carosel-text ul{
        font-size: .6rem;
    }
    .carosel-text h2{
        margin-top: -1rem;
        font-size: .8rem;
    }
    .carosel-text ul li{
        margin: .1rem;
    }
}
.swiper-container {
    margin: 0px !important;
    height: 100vh;
    padding-bottom: 0px;
    position: relative;

        img{
            width: auto;
            height: 100vh;
        }
}



@media(max-width: 1100px){
    .carosel-text,
    .swiper-container,
    .carosel-text-2,
    .swiper-container{
        height: 90vh;
    }
}
@media(max-width: 950px){
    .carosel-text,
    .swiper-container,
    .carosel-text-2,
    .swiper-container{
        height: 80vh;
    }
}
@media(max-width: 800px){
    .carosel-text,
    .swiper-container,
    .carosel-text-2,
    .swiper-container{
        height: 70vh;
    }
        h2{
        font-size: 1rem;
    }
        p{
        font-size: .8rem;
    }
    .swiper-container img{
        width: auto;
        height: 100%;
    }
}
@media(max-width: 700px){
    .carosel-text,
    .swiper-container,
    .carosel-text-2,
    .swiper-container{
        height: 60vh;
    }
    .carosel-text{
        padding-left: 2rem;
    }
}
@media(max-width: 650px){
    .carosel-text,
    .swiper-container,
    .carosel-text-2,
    .swiper-container{
        height: 50vh;
    }
}
@media(max-width: 450px){
    .carosel-text h2,
    .carosel-text-2 h2{
    font-size: .8rem;
    }
}
@media(max-width: 450px){
    .carosel-text p,
    .carosel-text-2 p{
            font-size: .6rem;
    }
}
/* location map */
.location-map-container{

    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;

    .on-the-map{
        //display none - redundand if google infoWindows are in place - delete if we add back in side-bar for navigation.//
        display: none;
        width: 0%;
        // width 30-40% if displayed //
        background-color: $navyBG;
        color: #0073ff5c;
    }

    .map{
        float: right;
        width: 100%;
        height: 100%;
    }

}

.location-info-container{
    font-family: Poppins-Light;
    height: auto;
    width: 100vw;
    background: white;
    background-image: url(../img/graphics/overlayLeft.png);
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem 0px;

        img{
            height: 400px;
            width: auto;
            margin: 8rem 0rem;
        }

        .location-info-text{
            width: 20%;
            font-family: Poppins-Light;
                h2{
                    margin-bottom: 1rem;
                }
        }
}

@media(max-width: 775px){
    .location-info-container{
        flex-direction: column;
    }
    .location-info-container img{
        height: 300px;
        width: auto;
        margin: .5rem;
        margin-top: 3rem;
    }
    .location-info-container .location-info-text{
        width: 80%;
        text-align: center;
        margin: 3rem;
    }
}
@media(max-width: 500px){
    .location-info-container img{
        height: 200px;
    }
    .location-info-container .location-info-text{
        font-size: .8rem;
    }
}


.on-the-map{
    color: white !important;
    font-family: Poppins-Light;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    justify-content: center;
        h2{
            font-family: Tiempos;
            margin: 1.5rem 0rem;
            font-size: 2rem;
        }
        h3{
            font-size: 1rem;
            margin-top: 2rem;
        }
        h4{
            color: rgb(196, 196, 196);
            font-size: .8rem;
        }

}

@media(max-width: 900px){
    .location-map-container{
        flex-direction: column;
        height: 100vh;
            .on-the-map{
                width: 100vw;
                height: 80vh;
                padding: 2rem 4rem;

            }
            .map{
                height: 100vh;
                width: 100vw;
            }
    }
    }


@media(max-width: 550px){
    .swiper-slide img{
        width: 550px;
        height: auto;
    }
}

@media(max-width: 650px){
    .location-carosel-1{
        display: flex;
        flex-direction: column !important;
    }
    .carosel-text,
    .swiper-container{
        height: 50vh;
        width: 100vw;
    }
}

